html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 10px;
  background-image: url(../images/bc.png);
}
.container {
  padding: 3px 3px;
  border: solid black;
  margin: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
}

#isi {
  border: 10px solid aliceblue;
  clear: both;
  width: auto;
  margin: auto;
  background: aliceblue;
  color: #000000;
  text-align: left;
}

.latar {
  background-color: rgb(188, 191, 191);
  width: auto;
  height: auto;
  text-align: left;
}
.bold {
  font-weight: bold;
}
.nama {
  text-align: center;
  font: bold;
  font-size: 50px;
}
#sidebar {
  float: left;
  background-color: #2e2c2c;
  text-decoration: none;
  width: 40%;;
}
.content-side {
  color: #ffffff;
  padding: 0px 15px 0px 15px;
  text-align: justify;
  font-size: 15pt;
}
.foto {
  width: 300px;
  height: 350px;
  border: 20px solid;
  content: center;
}
#description {
  float: right;
  background-color: white;
  text-decoration: none;
  width: 60%;
  padding: 30px;
}
.title-side {
  text-align: center;
  font-size: 20pt;
  color: white;
}
.judul-desc {
  padding: 0px;
  margin: auto;
  text-decoration: none;
  text-align: left;
  font-size: 20pt;
  background-color: rgb(199, 199, 199);
  text-indent: 25px;
}
.title-foto {
  text-align: center;
}
.title-desc {
  text-align: center;
  font-size: 30pt;
  color: black;
  margin: 0px;
}
.sub-title {
  border-top: solid #000000;
  border-bottom: solid hsl(0, 0%, 0%);
  font-size: 20pt;
}
.content-desc {
  color: black;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  font-size: 15pt;
  display: flex;
}
.sub-content-desc {
  color: black;
  text-align: justify;
  font-size: 10pt;
}
.sub-side {
  float: left;
  text-decoration: none;
  width: 50%;
  height: auto;
}
.sub-desc {
  float: right;
  text-decoration: none;
  width: 50%;
  height: auto;
}
.social-media-icon {
  padding: 10px 15px 10px 15px;
  background: #2e2c2c;
  color: #fff;
  border-radius: 7px;
}

a.social-media-icon:hover {
  background: #fff !important;
  color: #2e2c2c !important;
}
.button {
  background-color: #2e2c2c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100% !important;
  height: auto;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }



 /** Galery **/

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  transition: .3s;
  text-align: center;
  padding: 30px 0px;

}
.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
}

.overlay img{
  max-height: 100%;
}
.overlay:target img {
  animation: zoomDanFade 1s;
}

.overlay .close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
}

.galery li {
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

/* Animasi */
@keyframes zoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}