html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    padding: 10px;
  }
  #isi{
    border: 10px solid aliceblue; 
    clear: both;
    width: auto;
    margin: auto;
    background: aliceblue;
    color: #000000;
    text-align:left;
  }

  .latar {
      background-color:rgb(188, 191, 191);
      width: auto;
      height: auto;
      text-align:left;
  }
  .bold{
      font-weight: bold;
  }
  .nama {
      text-align: center;
      font: bold;
      font-size: 50px;
  }
  #sidebar{
      float: left;
      background-color: #2e2c2c;    
      text-decoration: none;
      width: 40%;
      height: auto;
  }
  .content-side{
    color: #FFFFFF;
    padding: 5px;
    text-align: justify;
    font-size: 15pt;
  }
 .foto{
    width: 300px;
    height: 350px;
    border: 20px solid;
    content: center;
 }
 #description{
    float: right;
    background-color: white ;    
    text-decoration: none;
    width: 60%;
    height: auto;
    padding: 10px;
 }
 .title-side{
     text-align: center;
     font-size: 25pt;
     color: white;
 }
.judul-desc{
    padding: 0px;
    margin: auto;
    text-decoration: none;
    text-align: left;
    font-size: 20pt;
    background-color: rgb(199, 199, 199) ; 
    text-indent: 25px;
 }
.title-foto{
  text-align: center;
}
.title-desc{
  text-align: center;
  font-size: 30pt;
  color: black;
  margin: 0px;
}
.sub-title{
  border-top: solid #000000;
  border-bottom: solid #000000;
  font-size: 20pt;
}
.content-desc{
  color: black;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  text-align: justify;
  font-size: 15pt;
}
.sub-content-desc{
  color: black;
  text-align: left;
  font-size: 10pt;
}
#sub-side{
    float: left;   
    text-decoration: none;
    width: 50%;
    height: auto;
}
#sub-desc{
   float: right;    
   text-decoration: none;
   width: 50%;
   height: auto;
}

